body {
  background-color: #f5f5f5;
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}
:root {
  --header-color: red;
  --paragraph-color: black;
  --font-header: 48px;
  --font-paragraph: 20px;
  --font-button: 20px;
  --font-weight: bold;
  --button-width: 200px;
  --button-height: 60px;
  --button-radius: 5px;
  --button-color: white;
  --button-background: red;
  --button-border: none;
  --button-cursor: pointer;
  --button-tranision: all 0.3s ease-in-out;
  --loader-width: 60px;
  --loader-height: 60px;
  --loader-color_primary: red;
  --loader-color_secondary: white;
}
.containerApp {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e3e3;
}
@media screen and (max-width: 768px) {
  .containerApp {
    background-color: #f5f5f5;
  }
}
.stepOneSection {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
}
@media screen and (max-width: 768px) {
  .stepOneSection {
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
.headerContainer {
  height: 30%;
  display: flex;
  align-items: center;
}
.header {
  color: var(--header-color);
  font-size: var(--font-header);
  font-weight: var(--font-weight);
}
.paragraphContainer {
  height: 30%;
  display: flex;
  align-items: center;
}
.buttonContainer {
  height: 40%;
  display: flex;
  align-items: center;
}
.numberAndCodeContainer {
  height: 40%;
}
.info-paragraph {
  color: var(--paragraph-color);
  font-size: var(--font-paragraph);
  text-align: center;
}
.info-paragraphSecodary {
  color: var(--paragraph-color);
  font-size: var(--font-paragraph);
  text-align: center;
}
.pickUpButton {
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--button-radius);
  background-color: var(--button-background);
  color: var(--button-color);
  font-size: var(--font-button);
  border: var(--button-border);
  cursor: var(--button-cursor);
  transition: var(--button-tranision);
}
.pickUpButton:hover {
  color: var(--button-background);
  box-shadow: inset -100px 0 0 0 var(--button-color),
    inset 100px 0 0 0 var(--button-color);
}
@media screen and (max-width: 768px) {
  .pickUpButton:hover {
    box-shadow: none;
    color: var(--button-color);
  }
}
.stepTwoSection {
  display: none;
  width: 50%;
  height: 90%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
}
@media screen and (max-width: 768px) {
  .stepTwoSection {
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
.numberContainer {
  padding: 5px 0px;
}
.numberInput {
  outline: none;
  padding: 10px 50px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 20px;
  background-image: linear-gradient(
    to top,
    #e3e3e3,
    #e7e7e7,
    #ececec,
    #f0f0f0,
    #f5f5f5
  );
}
.numberInput:focus {
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(56, 45, 170, 0.79);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(56, 45, 170, 0.79);
  box-shadow: inset 0px 0px 10px 0px rgba(56, 45, 170, 0.79);
}
.numberInput:hover {
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 12, 1);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 12, 1);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 12, 1);
}
.formValidation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.codeContainer {
  padding: 5px 0px;
}
.codeInput {
  outline: none;
  padding: 10px 50px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 20px;
  background-image: linear-gradient(
    to top,
    #e3e3e3,
    #e7e7e7,
    #ececec,
    #f0f0f0,
    #f5f5f5
  );
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.codeInput:focus {
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(56, 45, 170, 0.79);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(56, 45, 170, 0.79);
  box-shadow: inset 0px 0px 10px 0px rgba(56, 45, 170, 0.79);
}
.codeInput:hover {
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 12, 1);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 12, 1);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 12, 1);
}
.warningNumber {
  color: var(--header-color);
}
.warningCode {
  color: var(--header-color);
}
.pickUpButtonSecondary {
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--button-radius);
  background-color: var(--button-background);
  color: var(--button-color);
  font-size: var(--font-button);
  border: var(--button-border);
  cursor: var(--button-cursor);
  transition: var(--button-tranision);
}
.pickUpButtonSecondary:hover {
  color: var(--button-background);
  box-shadow: inset -100px 0 0 0 var(--button-color),
    inset 100px 0 0 0 var(--button-color);
}
@media screen and (max-width: 768px) {
  .pickUpButtonSecondary:hover {
    box-shadow: none;
    color: var(--button-color);
  }
}
.modalContainerBackground {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 1;
  justify-content: center;
  align-items: center;
}
.modalContainer {
  background-color: rgba(0, 0, 0, 0.85);
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
}
@media screen and (max-width: 768px) {
  .modalContainer {
    width: 100%;
    height: 100%;
  }
}
.modalHeaderContainer {
  height: 30%;
  display: flex;
  align-items: center;
}
.modalHeader {
  color: white;
  font-size: var(--font-header);
  font-weight: var(--font-weight);
  text-align: center;
}
.modalInfoContainer {
  height: 30%;
  display: flex;
  align-items: center;
}
.modalInfo {
  color: white;
  text-align: center;
}
.modalButtonsContainerFlex {
  display: flex;
  justify-content: space-evenly;

  align-items: center;
  width: 100%;
  height: 30%;
}
@media screen and (max-width: 768px) {
  .modalButtonsContainerFlex {
    flex-direction: column;
  }
}

.modalButtonEnd {
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--button-radius);
  background-color: var(--button-background);
  color: var(--button-color);
  font-size: var(--font-button);
  border: var(--button-border);
  cursor: var(--button-cursor);
  transition: var(--button-tranision);
}
.modalButtonEnd:hover {
  color: var(--button-background);
  box-shadow: inset -100px 0 0 0 var(--button-color),
    inset 100px 0 0 0 var(--button-color);
}
@media screen and (max-width: 768px) {
  .modalButtonEnd:hover {
    box-shadow: none;
    color: var(--button-color);
  }
}
.modalButtonContinue {
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--button-radius);
  background-color: var(--button-background);
  color: var(--button-color);
  font-size: var(--font-button);
  border: var(--button-border);
  cursor: var(--button-cursor);
  transition: var(--button-tranision);
}
.modalButtonContinue:hover {
  color: var(--button-background);
  box-shadow: inset -100px 0 0 0 var(--button-color),
    inset 100px 0 0 0 var(--button-color);
}
@media screen and (max-width: 768px) {
  .modalButtonContinue:hover {
    box-shadow: none;
    color: var(--button-color);
  }
}

.loaderContainer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 1;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.fakeLoader {
  width: var(--loader-width);
  height: var(--loader-height);
  border: 16px solid var(--loader-color_primary);
  border-top: 16px solid var(--loader-color_secondary);
  border-radius: 100%;
}

.spinOn {
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
